In [1]:
import pandas as pd
import numpy as np
import datetime

from pandas_profiling import ProfileReport

In [2]:
data_path = '../data/'
output_path = '../out/'

In [3]:
data = pd.read_csv(data_path + 'bikes.csv')

D:\anaconda3\envs\dv\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
data.drop(
    [
        'departure_latitude', 'departure_longitude', 'return_latitude', 'return_longitude',
        'departure_id', 'return_id'

    ],
    axis=1, inplace=True
)

In [5]:
data.head()

,departure,return,departure_name,return_name,distance (m),duration (sec.),avg_speed (km/h),Air temperature (degC)
0,2020-03-23 06:09:44,2020-03-23 06:16:26,Kuusitie,Esterinportti,1747.0,401.0,0.261397,0.9
1,2020-03-23 06:11:58,2020-03-23 06:26:31,Kamppi (M),Kasarmitori,1447.0,869.0,0.099908,0.9
2,2020-03-23 06:16:29,2020-03-23 06:24:23,Porolahden koulu,Agnetankuja,1772.0,469.0,0.226695,0.9
3,2020-03-23 06:33:53,2020-03-23 07:14:03,Vallipolku,Korppaanmäentie,7456.0,2406.0,0.185935,0.9
4,2020-03-23 06:36:09,2020-03-23 07:04:10,Länsisatamankatu,Vilhonvuorenkatu,7120.0,1679.0,0.254437,0.9

In [6]:
data.describe()

       distance (m)  duration (sec.)  avg_speed (km/h)  Air temperature (degC)
count  1.215746e+07     1.215746e+07      1.215391e+07            1.214156e+07
mean   2.295275e+03     9.597751e+02      3.355556e-01            1.565044e+01
std    2.452067e+04     7.346528e+03      3.428006e+01            5.497952e+00
min   -4.292467e+06     0.000000e+00     -4.689001e+02           -5.200000e+00
25%    1.000000e+03     3.440000e+02      1.467403e-01            1.230000e+01
50%    1.739000e+03     5.860000e+02      1.863679e-01            1.640000e+01
75%    2.869000e+03     9.710000e+02      2.204348e-01            1.930000e+01
max    3.681399e+06     5.401659e+06      1.699104e+04            3.290000e+01

In [7]:
data.columns

Index(['departure', 'return', 'departure_name', 'return_name', 'distance (m)',
       'duration (sec.)', 'avg_speed (km/h)', 'Air temperature (degC)'],
      dtype='object')

In [8]:
data.rename(columns={
    'distance (m)' : 'distance',
    'duration (sec.)' : 'duration',
    'avg_speed (km/h)' : 'avg_speed',
    'Air temperature (degC)' : 'temperature'
}, inplace=True)

In [9]:
data.columns

Index(['departure', 'return', 'departure_name', 'return_name', 'distance',
       'duration', 'avg_speed', 'temperature'],
      dtype='object')

In [10]:
data.dtypes

departure          object
return             object
departure_name     object
return_name        object
distance          float64
duration          float64
avg_speed         float64
temperature       float64
dtype: object

In [11]:
data['departure'] = pd.to_datetime(data['departure'])
data['return'] = pd.to_datetime(data['return'])

In [12]:
data.dtypes

departure         datetime64[ns]
return            datetime64[ns]
departure_name            object
return_name               object
distance                 float64
duration                 float64
avg_speed                float64
temperature              float64
dtype: object

In [16]:
data.head(10)

,departure,return,departure_name,return_name,distance,duration,avg_speed,temperature
0,2020-03-23 06:09:44,2020-03-23 06:16:26,Kuusitie,Esterinportti,1747.0,401.0,0.261397,0.9
1,2020-03-23 06:11:58,2020-03-23 06:26:31,Kamppi (M),Kasarmitori,1447.0,869.0,0.099908,0.9
2,2020-03-23 06:16:29,2020-03-23 06:24:23,Porolahden koulu,Agnetankuja,1772.0,469.0,0.226695,0.9
3,2020-03-23 06:33:53,2020-03-23 07:14:03,Vallipolku,Korppaanmäentie,7456.0,2406.0,0.185935,0.9
4,2020-03-23 06:36:09,2020-03-23 07:04:10,Länsisatamankatu,Vilhonvuorenkatu,7120.0,1679.0,0.254437,0.9
5,2020-03-23 06:37:52,2020-03-23 06:58:56,Radiokatu,Porthania,5169.0,1262.0,0.245753,0.9
6,2020-03-23 06:39:51,2020-03-23 06:45:30,Tyynenmerenkatu,Hietalahdentori,1194.0,335.0,0.213851,0.9
7,2020-03-23 06:44:37,2020-03-24 12:02:19,Itämerentori,Meilahden sairaala,3651.0,1195.0,0.183314,0.9
8,2020-03-23 06:47:18,2020-03-23 07:01:09,Koskelantie,Kalasatama (M),3120.0,827.0,0.226360,0.9
9,2020-03-23 06:47:22,2020-03-23 06:56:22,Rautatieläisenkatu,A.I. Virtasen aukio,2070.0,535.0,0.232150,0.9

In [17]:
data.drop(data[data['distance'] == 0].index, inplace=True)

In [18]:
profile = ProfileReport(data, title='Helsinki City Bikes')
profile.to_file(output_path + 'bikes.html')

Summarize dataset:   0%|          | 0/23 [00:00<?, ?it/s]

D:\anaconda3\envs\dv\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [15]:
data.groupby(by='departure_name').size()

departure_name
A.I. Virtasen aukio                       10825
Aalto-yliopisto (M), Korkeakouluaukio     95533
Aalto-yliopisto (M), Tietotie             26814
Abraham Wetterin tie                      11395
Agnetankuja                               13751
                                          ...
Von Daehnin katu                           3399
Westendinasema                            16046
Westendintie                               7307
Yhdyskunnankuja                            8629
Ympyrätalo                               172776
Length: 347, dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11769724 entries, 0 to 12157457
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   departure       datetime64[ns]
 1   return          datetime64[ns]
 2   departure_name  object
 3   return_name     object
 4   distance        float64
 5   duration        float64
 6   avg_speed       float64
 7   temperature     float64
dtypes: datetime64[ns](2), float64(4), object(2)
memory usage: 808.2+ MB